bleach==1.5.0
certifi==2018.4.16
click==6.7
cycler==0.10.0
Flask==0.12.2
GDAL==2.2.4
h5py==2.7.1
html5lib==0.9999999
itsdangerous==0.24
Jinja2==2.10
kiwisolver==1.0.1
Markdown==2.6.11
MarkupSafe==1.0
matplotlib==2.2.2
mkl-fft==1.0.2
mkl-random==1.0.1
numpy==1.13.3
olefile==0.45.1
Pillow==4.3.0
protobuf==3.5.2
pyparsing==2.2.0
pyreadline==2.1
python-dateutil==2.7.3
pytz==2018.4
scipy==0.19.1
six==1.11.0
tensorflow==1.4.0
tensorflow-tensorboard==0.4.0rc3
tornado==5.0.2
webencodings==0.5.1
Werkzeug==0.14.1
wincertstore==0.2
