<!DOCTYPE html>  	
<html>
   <head>
    <title>Roof Detection App</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>

   <body>		
		<nav class="navbar navbar-default" role="navigation">
			<ul class="nav navbar-nav">
				How it works? see the <a href="https://github.com/WFP-VAM/roof_detex">repository.</a>
			</ul>
		</nav>
   
		<div class="container">
		<img src="http://www.godan.info/sites/default/files/logos/world_food_programme_un_vulnerability_analysis_mapping_vam.jpg" 
		style="float: right;" width="300" />
		</div>
   
		<div class="container">
			<form class="form" action = "/predict" method = "POST" enctype = "multipart/form-data">
			
			 <div class="form-group">
				<label for="file"> File:</label>
				<input type = "file" name = "file" />
				<small id="emailHelp" class="form-text text-muted">We won't save your image.</small>
			 </div>
			 
			 <div class="form-group">
				<label for="row pixels">Number of Row Pixels:</label><br>
				<input type="text" name="row pixels" value="256"/>
			 </div>
			
			 <div class="form-group">
				<label for="column pixels">Number of Column Pixels:</label><br>
				<input type="text" name="column pixels" value="256"/>
			 </div>
			 
			 
			 <button type="submit" class="btn btn-default">Submit</button>
			</form>
		</div>

   </body>
</html>