<html>
   <head>
    <title>Roof Detection App</title>
  </head>

   <body>
      <form action = "/predict" method = "POST"
         enctype = "multipart/form-data">
         File:<br>
         <input type = "file" name = "file" /><br><br>
         Number of Row Pixels:<br>
         <input type="text" name="row pixels" value="400"/><br><br>
         Number of Column Pixels:<br>
         <input type="text" name="column pixels" value="400"/><br><br>
         <input type = "submit"/>
      </form>

   </body>
</html>